<%= render 'layouts/header_normal' %>

<div class="row"></div>
<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <div class="content-wrapper" style="min-height: 100%">

        <section class="content">
          <div class="table table-bordered menu-principal">
            <div class="content-div">
              <div class="row">
                <div class="col-md-11">
                  <div class="box box-primary">
                    <div class="box-header with-border">
                      <h3 class="box-title"><%= action_name %> USUARIO</h3>
                    </div>
                    <div>
                      <%= form_for(@u_sent) do |u|  %>
                          <div class="box-body">
                          <!-- <li>
                             <%= u.label :usuario, "Usuario :" %>
                             <%= u.text_field :usuario %>
                           </li>
                           -->
                           <div class="form-group">
                             <%= u.label :nombre, "Nombre :" , class:'col-sm-6' %>
                             <div class="col-sm-6">
                              <%= u.text_field :nombre , class:'form-control', :required => true%>
                             </div>
                           </div>

                           <div class="form-group">
                             <%= u.label :apellidos, "Apellidos :", class:'col-sm-6' %>
                             <div class="col-sm-6">
                               <%= u.text_field :apellidos , class:'form-control',:required => true %>
                             </div>
                           </div>

                            <div class="form-group">
                             <%= u.label :password ,"Contraseña :", class:'col-sm-6'%>
                              <div class="col-sm-6">
                                <%= u.text_field :password , class:'form-control',:required => true %>
                              </div>
                            </div>

                            <div class="form-group">
                              <%= u.label :email, "Correo Electrónico :", class:'col-sm-6' %>
                              <div class="col-sm-6">
                                <%= u.text_field :email , class:'form-control', :required => true %>
                              </div>
                            </div>

                            <div class="form-group">
                              <%= u.label :celular, "Celular :" , class:'col-sm-6'%>
                              <div class="col-sm-6">
                                <%= u.text_field :celular , class:'form-control', :required => true %>
                              </div>
                            </div>

                            <div class="form-group">
                              <%= u.label :fraccionamiento, "Fraccionamiento :" ,class:'col-sm-6' %>
                              <div class="col-sm-6">
                                <%= u.select(:fraccionamiento,options_for_select([]),{}, {class:'form-control'}) do %>
                                    <% @fraccionamientos.each do |fr| %>
                                        <% if @u_sent.fraccionamiento.present? && fr.id == @u_sent.fraccionamiento then %>
                                            <%= content_tag(:option, fr.nombre, value: fr.id , selected: fr.id) %>
                                        <% else %>
                                            <%= content_tag(:option, fr.nombre, value: fr.id ) %>
                                        <% end %>

                                    <% end %>
                                <% end %>
                              </div>
                            </div>
                           <!-- <li>
                              <%= u.label :domicilio, "Domicilio :" , class:'col-sm-6'%>
                              <%= u.text_field :domicilio , class:'form-control' %>
                            </li>-->
                            <div class="form-group">
                              <%= u.label :calle, "Calle :" , class:'col-sm-6'%>
                              <div class="col-sm-6">
                                <%= u.text_field :calle , class:'form-control', :required => true %>
                              </div>
                            </div>

                            <div class="form-group">
                              <%= u.label :numero, "Numero :" , class:'col-sm-6'%>
                              <div class="col-sm-6">
                                <%= u.text_field :numero , class:'form-control' %>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="submit-btn-form">
                                <%= u.submit  button_txt, :class => "button" %>
                              </div>
                            </div>

                          </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>