<%= render 'layouts/header_normal' %>
<div class="row"></div>
<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <div class="content-wrapper" style="min-height: 100%">
        <section class="content">
          <div class="table table-bordered menu-principal">
            <div class="content-div">
              <div class="row">
                <div class="col-md-12">
                  <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">USUARIOS</h3>
                      <div class="box-tools">
                        <%= form_tag sentinela_usuarios_path, :method => 'get' do %>
                            <div class="input-group input-group-sm" style="width: 200px;">
                              <%= text_field_tag :buscador , params[:buscador], class:' form-control pull-right ', placeholder: 'Buscar' %>
                              <div class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                  <i class="fa fa-search"></i>
                                </button>
                              </div>
                            </div>
                        <% end %>
                      </div>
                      <div style="margin-top:-26px">
                        <%= link_to image_tag('iconos/add_white_24dp.png') + "AÑADIR USUARIO", new_sentinela_usuario_path, class: "button-link-form pull-left" %>
                      </div>
                    </div>

                  <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                      <th>#</th>
                      <th>NOMBRE</th>
                      <th>APELLIDOS</th>
                      <th>CORREO</th>
                      <th>CELULAR</th>
                      <th>PASSWORD</th>
                      <th>ACCIONES</th>
                      <% @u_sent.each_with_index do |usuario, index|%>
                          <% indexplus = index + 1 %>
                          <tr>
                            <td class="dct-td-center"><%= indexplus %></td>
                            <td><%= usuario.nombre %></td>
                            <td><%= usuario.apellidos %></td>
                            <td><%= usuario.email %></td>
                            <td><%= usuario.celular %></td>

                            <td><%= usuario.password %></td>
                            <td class="dct-td-center">
                              <%= link_to image_tag('iconos/view_black_24dp.png') , usuario %>
                              <%= link_to image_tag('iconos/edit_black_24dp.png') , edit_sentinela_usuario_path(usuario) %>
                              <%= link_to image_tag('iconos/delete_black_24dp.png') , usuario, method: :delete, data:{confirm: @mensajeborrar + usuario.nombre + "?"} %>
                            </td>
                          </tr>
                      <% end %>
                    </table>
                  </div>
                  <div class="box-footer clearfix">
                    <%= will_paginate @u_sent %>
                  </div>
                </div>
                  <div class="col-md-10">
                    <%= will_paginate @u_sent %>
                  </div>
              </div>
              </div>

            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>