<header class="main-header">
  <a href="/" class="logo">
    Sentinela WEB
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Mostrar / Ocultar</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-envelope">
            </i>
            <span class="label  label-success"><%= "-" %></span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">Tiene 4 mensajes</li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <div class="user-panel">
      <div class="image">
        <%= image_tag 'sentinela/avatar.png', class:'img-circle' %>
      </div>
      <div class="info">

          <p class="welcome">
            <span>
              <i class="fa fa-key">Conectado como: </i>
            </span>
          </p>

        <div class="name tooltip-sidebar-logout">
          <div class="user-name">
            <%= current_user.celular %>
          </div>
          <div class="last-name">
            <%= current_user.nombre %> <%= current_user.apellidos %>
            <%= link_to "" , destroy_user_session_path, method: :delete, class: 'fa fa-sign-out'%>
          </div>
        </div>
      </div>
    </div>
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">    </li>


      <li class="treeview">
        <a href="#">
          <i class="fa fa-cogs"></i>
          <span>ADMINISTRACIÓN</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull"></i>
            </span>
        </a>
        <ul class="treeview-menu" style="display: none">
          <li><%= link_to "USUARIOS", :controller => "sentinela_usuarios",:action => "index"  %></td></li>
          <li><td> <%= link_to "FRACCIONAMIENTOS", fraccionamientos_path%></td></li>
        </ul>
      </li>


      <li class="treeview">
        <%=link_to "BITÁCORA", {:controller => 'bitacoras', :action => 'index'}%>
      </li>


      <li class="treeview">
        <%=link_to "REGISTRO DE VISITAS", {:controller => 'visitas_registro', :action => 'index'}%>
      </li>


      <li class="treeview">
        <%=link_to "SERVICIO A USUARIOS", {:controller => 'admin', :action => 'index'}%>
      </li>

    </ul>
  </section>
</aside>